.container {
	width: 800px;
	height: 400px;
	background-color: tomato;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10%;
	flex-direction: column;
}

input {
	border: none;
	appearance: none;
	background: #f2f2f2;
	padding: 12px;
	border-radius: 3px;
	width: 300px;
	font-size: 14px;
	margin: 20px;
	background-color: limegreen;
}

input::placeholder {
	color: green;
	text-transform: uppercase;
}
